// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.film_card{
	border: 1px solid #000;
	background: #fff;
	padding: 5px;
	margin: 10px;
	overflow:auto;
}

.film_cover{
	float: left;
	margin: 6px;
	max-height: 150px;
	display:inline-block;
}